<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Canvas</title>
    <style>
        

*{
    padding: 0;
    margin:0;
    border: 0;
    background-color: #9ddffd;
    color: black;
    font-family: 'Source Serif 4', serif;
    
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.box{
    border: whitesmoke solid 2px;
    padding: 5px;
    
}

.title_box{
    position: absolute;
    top: 2%;
    left: 2%;
    align-self: flex-start;
    padding: 2px;
    margin-bottom: px;
}
#title{
    display: inline-block;
    
}

#newBlogPost{
    display: block;
    width: 96vw;
    height: 80vh;
}


#label{
    display: inline;
}

#post{
    position: absolute;
    bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 2px;
    background-color: #FCBAD3;
    border: white solid 2px;
    width: 10%;
    height: 5%;
}


    </style>
    <link rel="stylesheet" href="/views/createNew.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&family=Source+Serif+4:opsz@8..60&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&family=Source+Serif+4:opsz@8..60&display=swap" rel="stylesheet">

</head>
<body>
    
    <form action="/seePost" method="POST" class="container">
        <div class="title_box">
        <label name="title" id="label">Title: </label>
        <input type="text" placeholder="Enter Blog Title" name="title" class="box" id="title" required>
        </div>  
        <input type="text" placeholder="Share Your Thoughts Here!" name="newBlogPost" class="box" id="newBlogPost">
        <input type="submit" value="POST"  id="post">
    </form>
    
</body>
</html>