<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Canvas</title>
    <link rel="stylesheet" href="/views/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Lobster&family=Whisper&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&family=Source+Serif+4:opsz@8..60&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main">
    <h1>MIND CANVAS</h1>
    <h2 id="scroll"> " Dive Deeper into Our Blogiverse! " </h2>
    </div>

    <div class="option">
    
    <form action="/post" method="POST" id="post">
        <input type="submit" value="Start Writing Today: Build Your Own Blog!" id="create" class="form">
    </form>
    

    
    <form action="/seePost" method="GET" id="see">
        <input type="submit" value="Unlock a World of Insights: Explore Other Blogs!" class="form">
    </form>
    
    
    </div>
    
    
    
</body>
</html>