<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Canvas</title>
    <style>
        *{
    padding: 0;
    margin:0;
    border: 0;
    background-color: #9ddffd;
    color: black;
    
}

.main{
    display: flex;
    text-align: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    justify-content: center;
}

h1{
    position: absolute;
    top:20%;
    font-family: 'Lobster', sans-serif;
    font-size: 10vw;
    text-shadow: 0 0 10px whitesmoke;
}

#scroll{
    position: absolute;
    top: 55%;
    font-size: 2.5vw;
    font-family: 'Source Serif 4', serif;
    font-weight:bolder bolder;
    color: whitesmoke;
    /* background-color: #AA96DA; */
}


#post{
    
    display: block;
    margin-bottom: 1rem;
    
}
.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;

}
#see{
    
    
    display: block;
    
    
    
}

#create{
    text-align: center;
    font-size: 1.3rem;
}
input{
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}


.form{
    background-color: #FCBAD3;
    padding: 2%;
    border: white solid 2px;
}
    </style>
    <link rel="stylesheet" href="/views/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Lobster&family=Whisper&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&family=Source+Serif+4:opsz@8..60&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main">
    <h1>MIND CANVAS</h1>
    <h2 id="scroll"> " Dive Deeper into Our Blogiverse! " </h2>
    </div>

    <div class="option">
    
    <form action="/post" method="POST" id="post">
        <input type="submit" value="Start Writing Today: Build Your Own Blog!" id="create" class="form">
    </form>
    

    
    <form action="/seePost" method="GET" id="see">
        <input type="submit" value="Unlock a World of Insights: Explore Other Blogs!" class="form">
    </form>
    
    
    </div>
    
    
    
</body>
</html>