*{
    background-color: #9ddffd;
    color: black;
    font-family: 'Source Serif 4', serif;
    text-align: center;

}
h1{
    position: relative;
    top: 10%;
    margin-bottom: 10%;
}


input{
    display: inline;
    
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 2px;
    background-color: #FCBAD3;
    border: white solid 2px;
    width: 10%;
    height: 5%;
}

button{
    display: inline;
    
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 2px;
    background-color: #FCBAD3;
    border: white solid 2px;
    width: 10%;
    height: 5%;
}